body, a, p, td, footer, .h {
  font-family: arial, sans-serif;
}

button {
  margin: 11px 4px;
  line-height: 27px;
  border: 1px solid #f2f2f2;
  border-radius: 4px;
  background-color: #f2f2f2;
  min-width: 54px;
  padding: 0 16px;
  text-align: center;
  color: #5F6368;
  font-size: 14px;
  font-family: arial, sans-serif;
  cursor: pointer;
}

.buttons {
  height: 50px;
  padding-top: 18px;
}

a {
  text-decoration: none;
  text-align: center;
  color: black;
}

.footer {
  background-attachment: scroll;
  background-clip: border-box;
  background-color: #f2f2f2;
  left: 0px;
  display: block;
  position: absolute;
  height: 40px;
  line-height: 40px;
  min-width: 980px;
  bottom: 0;
  left: 0;
  right: 0;
  display: inline-block;
  margin: 0;
  white-space: nowrap;
  background-color: #f2f2f2;
  padding-left: 20px;
  word-spacing: 20px;
  padding-right: 50px;
  font-size: 13px;
  font-family: arial, sans-serif;
}

.foot {
  white-space: nowrap;
  background-color: #f2f2f2;
  padding-left: 13px;
}

.foot-right {
  float: right;
}

.nav {}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: inline-block;
  padding: 14px;
  margin: -1px;
  text-decoration: none;
  text-align: center;
  color: black;
}

#rsoh {
  float: right;
}

.products {
  margin-top: 5px;
  background-image: url(//ssl.gstatic.com/gb/images/i2_2ec824b0.png);
  background-size: 528px 68px;
  display: inline-block;
  background-position: -132px -38px;
  opacity: .55;
  margin-right: 10px;
  vertical-align: middle;
  outline: none;
  height: 30px;
  width: 30px;
  border-radius: 2px;
  box-sizing: border-box;
}

.User {
  background-image: url(https://lh3.googleusercontent.com/-z_iZF1TzKDc/AAAAAAAAAAI/AAAAAAAAAAA/ACHi3re9EhOQlvcUjLzcTbGP0nV3ZXqwLg/s64-c-mo/photo.jpg);
  background-size: 32px 32px;
  display: inline-block;
  border-radius: 50%;
  display: block;
  margin: -1px;
  margin-top: 7px;
  margin-right: 5px;
  position: relative;
  overflow: hidden;
  vertical-align: middle;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.googlelogo {
  width: 272px;
  height: 92px;
  display: block;
  padding-bottom: 25px;
}

.content {
  margin-top: 233px;
  padding: 10px 118px;
  display: block;
  height: 10%;
}

#body {
  display: block;
}

.Content_margins {
  height: 118px;
  margin-top: 60px;
}

.search_bar {
  background: #fff;
  outline: none;
  text-indent: 15px;
  display: inline-block;
  position: relative;
  width: 584px;
  border: none;
  border-radius: 25px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  z-index: 3;
  height: 46px;
  margin: 0 auto;
}

.microphone {
  z-index: 4;
  height: 28px;
  padding-top: 10px;
  padding-left: 5px;
  position: absolute;
  margin-left: -49px;
}